@{
    ViewData["Title"] = "Home Page";
}
@model HomePageModel

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <h2>
                    Steves ASP.NET Core App Hosted in Kubernetes
                </h2>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row">
    <div class="col-md-12">
        <br />
        <h1>This application is deployed with multiple configs</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Config Type</th>
                <th>Location</th>
                <th>File Name</th>
                <th>Keys</th>
                <th>Values</th>
                <th>DevOps Configured</th>
            </tr>
            <tr>
                <td>App Settings</td>
                <td>AppRoot</td>
                <td>appsettings.json  </td>
                <td>App:CodeVersion</td>
                <td>@Model.Configuration["App:CodeVersion"]</td>
                <td><i class="icon fas fa-times-circle"></td>
            </tr>
            <tr>
                <td>Environment Variables</td>
                <td>Environment</td>
                <td>N/A</td>
                <td>EnvironmentName</td>
                <td>@Model.Configuration["EnvironmentName"]</td>
                <td><i class="icon fas fa-check-circle"></i></td>
            </tr>
            <tr>
                <td>Config Map</td>
                <td>AppRoot/Config1</td>
                <td>configmap-frontend.json  </td>
                <td>API:URI</td>
                <td>@Model.Configuration["API:Name"]</td>
                <td><i class="icon fas fa-check-circle"></i></td>
            </tr>
            <tr>
                <td>Config Map</td>
                <td>AppRoot/Config2</td>
                <td>configmap-frontend.xml  </td>
                <td>App:Theme</td>
                <td>@Model.Configuration["App:Theme"]</td>
                <td><i class="icon fas fa-check-circle"></i></td>
            </tr>

            <tr>
                <td>Secret</td>
                <td>AppRoot/Secrets</td>
                <td>secret-frontend.json  </td>
                <td> API:Key <br /> API:Secret</td>
                <td>@Model.Configuration["API:Key"] <br />@Model.Configuration["API:Secret"]</td>
                <td><i class="icon fas fa-check-circle"></i></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <div class="alert alert-info" role="alert">
            <h1 class="alert-heading">Communicating with other services</h1>
            <p>The internal cluster IP address and port of the backend API can be found in the environment variable <i>"BACKEND_SERVICE_PORT"</i> which is: @Model.APILocation</p>
            <hr>
            <h4>@Model.APIResponse</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Configuration Files</h1>
        <div class="col-md-6">
            <h3>Development Configs</h3>
            <img class="img-rounded img-responsive" src="~/images/configs-dev.png" title="startup.cs" />
        </div>
        <div class="col-md-6">
            <h3>AKS Configs</h3>
            <img class="img-rounded img-responsive" src="~/images/configs-aks.png" title="startup.cs" />
        </div>
      
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h1>Configuration builder in app startup</h1>
        <img class="img-rounded img-responsive" src="~/images/startup.png" title="startup.cs" />
    </div>
</div>

